[2020-02-21 17:26] bpaul7101 opened #2 "Cannot get this to work with Facebook - is this supported ?"
Hi - thanks for the plugin - I'm finding issue trying to get this to work with Facebook provider - does this plugin support this ?

[2020-02-21 17:28] amrfarid140 commented on #2
Hey @bpaul7101 yes it should be supported. What error are you getting? Would you be able to add logs to the issue?

[2020-02-26 07:41] vijay14887 opened #3 "Apple sign in not working in android device"
While calling the "performSignIn()" function in android at that time it redirects to the firebase "url"  after that sign in the process not working as per " await FirebaseAuthOAuth().openSignInFlow("apple.com", ["email"], {"locale": "en"});"

`import 'package:apple_sign_in/apple_sign_in.dart';
import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:firebase_auth/firebase_auth.dart';

[2020-02-27 20:28] amrfarid140 commented on #3
@vijay14887 Just to check, are you testing on a real Android device or on the simulator? I found that Apple sign in only work on a real device.

[2020-02-27 20:29] amrfarid140 commented on #2
Hey @bpaul7101 is this still an issue?

[2020-02-27 21:28] bpaul7101 commented on #2
Hey Amr - sorry for the delay , I completely missed the notification from github .

Yes this is an issue, Cannot get your plugin to work at all with FaceBook in either iOS or Android - is there any special settings we need in info.plist or build.gradle for android/app ? or manifest ? I dont see anything on the screen - normally when I used this plugin https://pub.dev/packages/flutter_facebook_logi

[2020-03-01 01:50] vijay14887 commented on #3
We tested in real Android device only and it didn't work. We will check
again later and will ask for your help if it didn't work.

Regards,
Vijay.

On Fri, 28 Feb 2020, 1:58 am Amr Yousef, <notifications@github.com> wrote:

[2020-03-01 01:51] vijay14887 commented on #3
Thanks for your reply and help on this issue.

Regards,
Vijay.

On Sun, 1 Mar 2020, 7:20 am Vijaykumar Rameshkumar, <vijay14887@gmail.com>
wrote:

[2020-03-01 13:25] bpaul7101 commented on #2
![image](https://user-images.githubusercontent.com/56043190/75626514-055c3980-5bc0-11ea-9aa5-71620e5e8f1a.png)

[2020-03-06 18:21] samgithub opened #4 "Getting additional Info"
I have been working with the package for a few hours.  Question:
How do I get additional information after signing in?  I am signing in using:

**FirebaseUser user = await FirebaseAuthOAuth().openSignInFlow( "microsoft.com",['openid','email'], {});**

after that I can successful get
**user.displayName**
**user.emai**l

How do I get the accessToken and idToken ?

Thanks
Sam

[2020-03-07 21:46] franck-noahk commented on #4
What platform are you using this code on?

[2020-03-08 15:35] amrfarid140 commented on #4
@samgithub You can use `getIdToken()` on `FirebaseUser` to get those data

[2020-03-08 15:35] #4 closed

[2020-03-08 15:36] #3 closed

[2020-03-09 21:24] samgithub commented on #4
ok.  thanks.

[2020-03-24 00:06] AndroidNils opened #5 "Error: "200, There was an error while trying to get your package certificate hash""
First of all: Thanks for this library! When I try to use apple sign in i get "200, There was an error while trying to get your package certificate hash" exception. We use flavors for our product (firebase core is not configured. My testing device is an android device. I think it has something to do with FirebaseAuth and Firebase Core.

Any ideas to fix it?

[2020-03-25 07:06] amrfarid140 commented on #5
Hey @AndroidNils,

Thanks for using this package. The issue you are facing is likely happening because Firebase doesn't have the SHA-1 fingerprint of your debug signing certificate.

Can you confirm that you have completed Step 4 (Enter other app information: App nickname and Debug signing certificate SHA-1.) in this [guide](https://firebase.google.com/docs/android/setup?authuser=0#register-app) ?

[2020-03-28 15:21] AndroidNils commented on #5
Indeed! I hadn't add the SHA-1 fingerprint for debug mode 😅 Apple Sign In on Android is working now👌 Thanks!

[2020-03-28 15:21] #5 closed

[2020-03-28 18:44] AndroidNils opened #6 "Add support for macOS"
The problem is that apple is rejecting all new macOS apps, which doesn't support Apple Sign In (if they use Google Sign In, Facebook Sign In). Right now it's impossible to publish an app to macOS AppStore (written in Flutter) because of this issue (if you use Google-Sign-In, etc.).

[2020-03-28 18:46] amrfarid140 commented on #6
I haven't personally ventured into building Flutter apps/packages for MacOS. I might give it a go. Also if you are happy to work on it and would like to submit a PR, it will be very much appreciated.

[2020-04-30 12:31] Dedecube opened #8 "iOS 12"
Obviously apple sign in works on iOS 13. Any chance to show the web page (like Android behavior) if the device system version is lower (like iOS 12) instead of the actual fatal error, or am I missing something here?

[2020-05-17 19:45] sallypeters commented on #2
I've also an issue trying to get this plugin to work with Facebook. Do you have a working example that shows how this plugin will work with Facebook Amr ?

[2020-05-20 21:07] amrfarid140 commented on #2
I am planning to have another look at this soon. I will update both of you once I find the issue. I would appreciate if you can provide a stacktrace or error code.

[2020-05-29 13:14] amrfarid140 commented on #2
Facebook Login is not supported in this plugin and probably will not be supported. It doesn't use the `OAuthProvider` like to Twitter for example.

Facebook requires you to use their own Facebook SDK for login to work and it is not something I am considering for this plugin.

Sorry it took sometime to confirm since I don't have a Facebook account anymore.

[2020-05-29 13:14] #2 closed

[2020-06-11 15:08] red42 opened #9 "Using Sign In with Apple, the scope for the user's name is "name" on Android and "fullName" on iOS"
In order to request the user's name using Sign In with Apple, the scope for iOS devices is "fullName", and for Android it's "name". Using "name" on iOS crashes the app, while using "fullName" on Android yields an invalid_request error.

I believe [this line](https://github.com/amrfarid140/firebase_auth_oauth/blob/1e513549eb6240ac61a9b6bec1c3d58fd6b5bba2/firebase_auth_oauth/ios/Classes/SwiftFirebas

[2020-06-11 15:47] amrfarid140 commented on #9
Thanks @red42 , I will have a look.

[2020-06-17 05:04] DavidCorrado commented on #8
If its not possible to do anything for lower versions it would be good at least to have a callback that says whether the device supports apple login or not.

[2020-06-17 05:07] DavidCorrado opened #10 "Have a apple sign in widget"
For ease of use for this library for apple it would be good to have a button that meets the iOS human interface guidelines.  Many of the other libraries that do apple login with flutter support this.

As a note.  I do like the direction of using the firebase sdk directly on native as I think that fixes many of the drawbacks of the other apple login libraries.

[2020-06-17 20:20] robindijkhof opened #11 "How to use on ios?"
I had a project that was working fine on Android and ios. After adding the dependency it broke on ios.
 I got the following exception:

    platform for this target in your Podfile. See `https://guides.cocoapods.org/syntax/podfile.html#platform`.

After same searching i added `platform :ios, '13.0'` to my pod. Which gave me the following error.

    set. Please contact the author or set the `SWIFT

[2020-06-17 20:33] amrfarid140 commented on #11
Thanks for opening an issue @robindijkhof . Do you have a sample with the issue? it will help debugging if I am able to reproduce the issue quickly.

[2020-06-17 20:39] amrfarid140 commented on #10
Hey @DavidCorrado , Thanks for the suggestion and the great feedback. I will aim get the widget sorted soon 👍

[2020-06-17 21:23] robindijkhof commented on #11
Thanks. I'll make one tomorrow.

Op wo 17 jun. 2020 22:34 schreef Amr Yousef <notifications@github.com>:

[2020-06-18 15:30] robindijkhof commented on #11
@amrfarid140 I create an empty project with the same dependencies as my project. https://github.com/robindijkhof/oath_test

Running `flutter build ios` gives the error I described. Even running the build with `firebase_auth_oauth` as the only dependency gives the same message.

[2020-06-20 18:19] amrfarid140 commented on #8
`FirebaseAuth` ,which is the underlying Cocoapod used by this plugin and `firebase_auth` plugin, disallows using IDP (generic OAuth flow) for Apple Sign in on iOS. This means that support for iOS 12 is not going to happen.

I will work on adding a meaningful error instead of fatal error.

[2020-06-20 18:19] #8 closed

[2020-06-20 18:20] amrfarid140 opened #12 "Provide meaningful error for devices running iOS below iOS 13"
The current implementation throws a `fatalError` if the device is not using iOS 13. This is problematic for those type of users as it a source of crashes.

The plugin should gracefully propagate and error to its consumers instead

#8

[2020-06-21 10:39] #9 closed

[2020-06-21 10:39] #12 closed

[2020-06-21 15:05] amrfarid140 commented on #11
Looks like your project uses iOS 8.0 as deployment target, [this plugin works from iOS 9 and above](https://github.com/amrfarid140/firebase_auth_oauth/blob/main/firebase_auth_oauth/ios/firebase_auth_oauth.podspec#L22). `pod install` works when I use iOS 9 for the sample your provided.

<img width="877" alt="Screenshot 2020-06-21 at 16 01 46" src="https://user-images.githubusercontent.com/5002609/8

[2020-06-21 15:05] #11 closed

[2020-06-21 17:48] robindijkhof commented on #11
I was surprised that worked for the demo project. It didn't work for my own project.

Compared both and found some things were missing/different.

 - I was missing `use_frameworks!` and `use_modular_headers!`
 - I had a different C language dialect
 - There was no swift version. Fixed that by adding a random swift

FOund some other settings that were different but that didn't matter. Guess I had t

[2020-07-12 10:10] calistus opened #14 "After Sign In Display name is always null"
How do I get the user display name after Sign In?
Mine always returns null even after passing the name in scope. See my code below

`      FirebaseUser user = await FirebaseAuthOAuth().openSignInFlow("apple.com", ["email", "name"], {"locale": "en"});
`
` print("Display Name: "+ user.displayName);
`

[2020-07-17 21:08] vinicius-animo commented on #14
@calistus the correct scope is `fullName` for `apple.com`.

Your code should look something like:
[code]

[2020-07-18 09:28] calistus commented on #14
I just tried this. It says` Invalid argument(s)
`The user is created successfully on the Firebase Authentication panel but it returns null when I try reading the email or displayName

[2020-07-18 11:40] amrfarid140 commented on #14
Hey @calistus , this is a limitation from Firebase Auth. By default, Firebase auth doesn't store `displayName` that's why its always null.

There's a way to set the `displayName` from the native side that I will look into, hopefully releasing an update in the next two weeks.

[2020-07-18 11:49] calistus commented on #14
Ok, Cool. I'll be looking forward

[2020-07-26 03:40] kcchenkd opened #15 "Cancel signin crash the app on Android"
Hi,

The app is crashed when sign-in is canceled by the user. The log shows the correct exception, but not able to catch the exception on catch block. Any idea?

Thanks.

 Future<String> _signInWithApple() async {
      try {
         final FirebaseUser user = await FirebaseAuthOAuth()
          .openSignInFlow('apple.com', ['email', 'name'], {'locale': 'en'});
        return _firebaseSignin(user)

[2020-07-27 19:11] amrfarid140 commented on #15
Try using

[code]

[2020-07-27 19:11] #15 closed

[2020-07-28 01:01] kcchenkd commented on #15
@amrfarid140  That does not resolve the issue. The app is still crashed .

[2020-07-29 03:47] Jethro87 opened #16 "Linking with credential"
Is it possible to link another auth provider with apple using this plugin? Because `openSignInFlow` returns a `FirebaseUser`, I am unsure how to proceed as I need a credential.

For example, here's how I'm currently linking a guest account with apple using the AppleSignIn plugin:

[code]

If this is not currently possible, do you see implementing this in the near future?

Thanks in advance.

[2020-07-29 06:32] amrfarid140 commented on #16
Hey @Jethro87 , This should be possible. The `FirebaseUser` you get from `openSignInFlow` is a proper Firebase user so you would be able to call `linkWithCredential` and link your guest account.

[2020-07-29 17:28] Jethro87 commented on #16
Hey @amrfarid140 thanks for your quick reply.

I'm still having trouble with this, because it seems to me that I don't need a FirebaseUser for the `linkWithCredential` method. Rather, I need a credential and its associated `idToken` and `accessToken`.

I've been playing around trying to get this to work with a FirebaseUser, but I seem to be stuck.

I was able to get the idToken from the FirebaseUs

[2020-08-20 13:13] red42 opened #17 "Package is not compatible with firebase_core ^0.5.0"
The Flutterfire team has just released a substantial update to the firebase packages, and those introduce breaking changes that make it incompatible with existing code.

A [migration guide](https://firebase.flutter.dev/docs/migration/) was published to assist with changes, and most of it seems pretty straightforward. I hope firebase_auth_oauth can be made compatible with it soon!

[2020-09-05 20:24] amrfarid140 commented on #16
I've been trying to address this use cases but seems like `FirebaseAuth` doesn't expose the full credentials such as `accessToken` which means I can't return `OAuthCredential` from native to dart.

Another option would be, the dart side is responsible for setting up the current user (i.e. a guest user) and on the native side the plugin can link the current user with new credentials which would ach

[2020-09-07 19:24] amrfarid140 commented on #17
This has be done in 0.2.0 release.

[2020-09-07 19:24] #17 closed

[2020-09-07 19:24] amrfarid140 commented on #16
This has be done in 0.2.0 release.

[2020-09-07 19:24] #16 closed

[2020-09-07 22:26] Jethro87 commented on #16
Thanks @amrfarid140. I have since been using the Sign in with Apple package, but I would prefer to use this one. I'll test it out and let you know. Much appreciated.

[2020-09-08 07:27] AndroidNils opened #20 "Upgrade firebase packages"
## Description
FlutterFire released new major updates. To use this updates its required that this packages also use this FlutterFire version (`firebase_auth: ^0.18.0+1`, `firebase_core: ^0.5.0`).

We already started to do this in: https://github.com/SharezoneApp/firebase_auth_oauth/tree/firebase-upgrade

But it's no possible to start the web app, because this error occurs:
[code]

Maybe this is is

[2020-09-08 07:28] AndroidNils commented on #20
I see the migration is already done in #17 ❤️

[2020-09-08 07:28] #20 closed

[2020-09-08 07:34] AndroidNils opened #21 "[Web] Version 0.2.0 is not working (every Flutter Web app will crash)"
## Description
Thanks for the migration in #17 ❤️ But with version 0.2.0 every Flutter Web app will crash. At the start this error occurs:

[code]

Maybe this is issue in the `firebase_core` package

## Steps to reproduce
1. Clone example
2. Start with Flutter web

[2020-09-08 07:55] amrfarid140 commented on #21
Thanks @AndroidNils , I managed to reproduce it and working on a fix for it, should be out there ASAP.

[2020-09-08 08:08] #21 closed

[2020-09-08 08:09] amrfarid140 commented on #21
I've release 0.2.1 which should fix this issue 👍

[2020-09-19 07:32] Aadiyaara commented on #14
Hi, any update on this?

[2020-09-19 15:21] amrfarid140 commented on #14
Nothing yet but feel free to submit a PR if you have solution.

[2020-09-29 06:05] jthegedus opened #23 "License?"
You do not have a license for this repo? Would you consider adding an MIT license?

[2020-09-29 06:07] jthegedus opened #24 "How to use shared keychain on iOS & MS Authenticator on Android"
Most other OAuth providers show some platform specific config for iOS and Android to enable use of shared credentials across each application. Does this library support those functionalities?

[2020-09-29 06:17] jthegedus commented on #23
I see now each of the plugin directories have a License, perhaps you can put one in the repo root as well so GitHub recognizes it

[2020-09-29 07:50] jthegedus commented on #24
I see the Keychain group setting exists in the iOS Plugin class - https://github.com/FirebaseExtended/flutterfire/blob/7bf0ec582c6b2b8c26a624128b767f8f82479247/packages/firebase_auth/firebase_auth/ios/Classes/FLTFirebaseAuthPlugin.m#L464

[2020-10-02 04:22] paurakhsharma opened #25 "Cannot access accessToken for microsoft.com provider."
First of all, thank you for the great plugin.

I am using it to login in Microsoft AD.

But, to get additional information of the user I need access to the `accessToken`

But I cannot access it.

I have access to the id token but not the access token.

I don't know if this is the bug or intended but

[code]
Here, idToken and the `tokenResult.token` are the same things.

But I was expecting accessT

[2020-10-04 08:55] amrfarid140 commented on #25
Hey @paurakhsharma, what you are describing here is intended behaviour from Firebase.

Firebase Auth handles authentication only. It has no functionality to store and manage OAuth tokens. Since this plugin relies on Firebase Auth, it wouldn't be possible to get access token from a Firebase User.

My suggestion would be using Microsoft API to fetch the token. You can pass in the `idToken` as part o

[2020-10-04 08:57] amrfarid140 commented on #23
Thanks @jthegedus but I won't add the license to the repo root. The repo contains three different plugins and having an independent license file for each plugin makes more sense.

[2020-10-04 08:57] #23 closed

[2020-10-04 09:03] amrfarid140 commented on #24
The Keychain group setting you mention can be setup from your `FirebaseAuth` instance before calling sign in. You can find more on Firebase's docs.

https://firebase.google.com/docs/auth/ios/single-sign-on?authuser=0

[2020-10-04 09:03] #24 closed

[2020-10-04 09:53] paurakhsharma commented on #25
Thank you for the suggestion, it seems to be the best way for me.

[2020-10-04 09:53] #25 closed

[2020-10-05 23:37] jthegedus commented on #24
`Auth.auth().useUserAccessGroup` doesn't appear to be surfaced in the FlutterFire SDK. In addition to that, the integration for MS Authenticator is client specific and seemingly requires the Flutter pks in question to support it (see here - https://github.com/moodio/msal-flutter). I was curious if these were in scope for this library?

[2020-10-06 06:48] amrfarid140 commented on #24
Looks like `useUserAccessGroup` can be invoked from `Auth.auth().setSetting` according to this [line](https://github.com/FirebaseExtended/flutterfire/blob/master/packages/firebase_auth/firebase_auth/ios/Classes/FLTFirebaseAuthPlugin.m#L467).

In terms of support for MS Authenticator, it is out of scope for this library.

[2020-10-06 07:43] jthegedus commented on #24
too right!

Thanks for your help and library @amrfarid140

[2020-10-10 11:40] kostasoft opened #26 "Problem with authorization "apple.com" on Android."
This error occurs in browser after authentication confirmation:
`The requested mobile application corresponding to the identifier (Android package name or iOS bundle ID) provided is not installed on this device.`
For Web, everything is fine.

[2020-10-26 02:15] taracell commented on #26
Are you using Firestore?  If so make sure you are using a separate service ID.  I am sure you are since web is working.  I also had this issue and had to ensure both my bundle in developer and Apple Sign in is allocated within my iOS module for Flutter.  Make sure your bundle ID and package name match what is in firestore and your flutter code manifest.xml under android->src->main, also that you h

[2020-10-29 11:03] subramanyamgv opened #27 "Sign in with Microsoft crashes the app in IOS"
[code]
Error:
Unexpectedly found nil while unwrapping an Optional value: file firebase_auth_oauth/FirebaseAuthOAuthViewController.swift, line 57

[2020-10-31 14:01] MattyBoy4444 commented on #14
First the correct scope is "name".   It does seem the data comes back from Apple, but the displayName is null on the User object.  If you drill down into the providerData, the displayName is set.  Make sure to delete the App from your account after the first login.  The data is only sent the very first time.

[2020-11-08 16:29] surielb commented on #27
The error is that the plugin does handle the error properly...
the flow leaks from the error handler:
[code]

[2020-11-15 17:45] taracell commented on #26
Hello, I finally fixed the crashing issue with apple ID on my application...In the flutter android -> app -> build.gradle add
[code]

[2020-11-25 21:09] amrfarid140 commented on #27
Thanks @camillobucciarelli . v0.2.2 has been published with a fix for this issue.

[2020-11-25 21:09] #27 closed

[2020-12-05 13:50] hatano0x06 opened #29 "fail build at ios"
This package is great!

I found that building at ios error occur and fail
Xcode version is 12.2 and firebase_auth_oauth is 0.2.2

error is
[code]

![fail](https://user-images.githubusercontent.com/7422251/101244861-2e5fbb00-374c-11eb-91dd-95af4fd0e683.png)

[2020-12-06 20:20] amrfarid140 commented on #29
Hey @hatano0x06 , Thanks for opening this issue! .. Do you have a sample project to reproduce the issue?

I tried with my own project but couldn't reproduce.

[2020-12-07 07:29] hatano0x06 commented on #29
@amrfarid140
Sorry, The problem was with me

I was writing this setting at Podfile and I delete it to solve the problem
[code]

please close this issue
thank you

[2020-12-07 07:46] #29 closed

[2020-12-14 00:04] nilsreichardt opened #30 "If Firebase API Key is restricted, Apple Sign In doesn't work anymore"
## Description
Firebase recommends to restrict the Firebase API Key, see [Learn about using and managing API keys for Firebase](https://firebase.google.com/docs/projects/api-keys). But if I restrict the Firebase API Key to our android app, Apple Sign In doesn't work anymore. Everything works, except Apple Sign In.

## Error
![image](https://user-images.githubusercontent.com/24459435/102027970-030e

[2020-12-14 09:02] amrfarid140 commented on #30
Thanks for this detailed issue report 😄 . It's looking like a Firebase issue on the face of it. I will do some research and triage then report back if there's anything the plugin should do.

[2020-12-14 09:05] amrfarid140 commented on #26
Sure @taracell . Thanks for the recommendation!

[2020-12-30 16:58] percula opened #31 "No error thrown on linking when an account already exists"
When attempting to link an anonymous account to an existing account, I would expect an error to be thrown, but in my tests with Twitter, it isn't. Instead, the authentication goes through without a hitch.

For example, the FirebaseAuth package and Google sign-in will return a `FirebaseAuthException` with code `credential-already-in-use` when calling `User.linkWithCredential(cred)` when the credent

[2021-01-03 15:37] Immortal-Div opened #32 "Apple Sign In not working since update to IOS 14"
Since the update to IOS 14, the Apple Sign In is not working anymore and showing the error message: _Authorization failed: Error Domain=AKAuthenticationError Code=-7034 "(null)"_ , on Android devices it still works, presumably because the sign in process operates through the browser.

[2021-01-05 09:50] amrfarid140 commented on #31
If you expect an error an it's not there then the issue is more likely that native Firebase logic not throwing this error.

There's a big difference between using Twitter OAuth2 integration vs using Google sign-in. With Twitter you are using generic OAuth2 protocols but with Google sign-in, Google created their own plugin with its own logic to disallow linking accounts.

[2021-01-05 09:53] amrfarid140 commented on #32
I am not aware of any changes Apple made in iOS 14. Let's test and see.

[2021-01-05 13:58] percula commented on #31
Thanks, I've since decided to get rid of Twitter support altogether. Too few users were choosing it. If I find that any other sign in methods have the same issue, I'll write some custom migration logic.

[2021-01-05 13:58] #31 closed

[2021-01-09 01:42] nwparker opened #33 "iOS build Failure (CryptoKit dependency) using Swift 5+"
Ref: #11 , #29

The following error can occur when building for iOS:
[code]

The other issues opened about this issue did not fully understand the problem and thus failed to address the problem properly.

The problem is that `deallocate(capacity:)` appears to have been [removed](https://github.com/apple/swift-evolution/blob/master/proposals/0184-unsafe-pointers-add-missing.md) in newer versions of

[2021-01-10 00:41] Aadiyaara commented on #14
Unfortunately, this was not reproduced on my end, I created a new Apple ID and used it on a new simulator altogether and check all array items of `providerData` for name and User object too. It's showing null everywhere.

[2021-01-10 08:16] amrfarid140 commented on #33
Thanks @nwparker .. I will look at alternatives and get an update out soon.

[2021-01-10 20:16] amrfarid140 commented on #33
This should be fixed in v0.2.3

[2021-01-10 20:16] #33 closed

[2021-01-12 09:02] taracell opened #35 "Error with app depends on firebase_core ^0.6.0"
I am getting the following error while updating my pubspec.yaml file in flutter to the latest firestore dependancies:

Because firebase_auth_oauth >=0.2.0 depends on firebase_core ^0.5.0 and app depends on firebase_core ^0.6.0, firebase_auth_oauth >=0.2.0 is forbidden.
So, because app depends on firebase_auth_oauth ^0.2.3, version solving failed.
pub get failed (1; So, because app depends on fireb

[2021-01-15 19:22] kostasoft commented on #35
firebase_core: ^0.7.0
  firebase_storage: ^7.0.0
  firebase_auth: ^0.20.0+1
  firebase_database: ^6.0.0
  cloud_firestore: ^0.16.0
  firebase: ^8.0.0

Same problem

[2021-01-15 19:32] amrfarid140 commented on #35
Thanks both! I will get around updating dependencies soon ... You are also welcome to submit a PR for this if you need it urgently.

[2021-01-17 18:09] nilsreichardt commented on #35
@amrfarid140 I created a PR: https://github.com/amrfarid140/firebase_auth_oauth/pull/36

[2021-01-17 18:14] nilsreichardt commented on #32
Our app [Sharezone](https://sharezone.net/app) is using `firebase_auth_oauth` for signing in with Apple and we can't experience any issues 👍

[2021-01-17 18:39] #35 closed

[2021-01-17 18:55] nilsreichardt opened #38 "Migrate to null safety"
## Description
FlutterFire has started to migrate Firebase packages to null safety: https://github.com/FirebaseExtended/flutterfire/discussions/4182. When all dependencies of this package support null safety, we should migrate it as well.

## Resources
* [How to migrate Dart packages to null safety](https://youtu.be/eBr5tlumwlg)
* [Announcing Dart null safety beta](https://medium.com/dartlang/anno

[2021-01-17 18:56] amrfarid140 commented on #38
Agreed 👍 ... I looked at it when I was doing 0.2.3 update last week. Seems like `firebase_auth` & `firebase_core` is a blocker for now. Let's keep an eye on those dependencies as you suggested and see how it goes.

[2021-01-25 07:05] paurakhsharma opened #40 "Add signout method"
First of all thanks for this great package.

I am using this package for Azure AD and I can not fully sign out of the app.

When I sign out using
[code]
And press on login again I am automatically logged in without entering my credentials.  https://stackoverflow.com/questions/60176108/oauth2-no-login-dialog-after-log-out-direct-log-in-of-last-user
I understand this is because the user's session to

[2021-01-25 09:21] amrfarid140 commented on #38
[`firebase_auth`](https://github.com/FirebaseExtended/flutterfire/blob/master/packages/firebase_auth/firebase_auth/CHANGELOG.md
) & [`firebase_core`](https://github.com/FirebaseExtended/flutterfire/blob/master/packages/firebase_core/firebase_core/CHANGELOG.md) have migrated to null safety.

[2021-01-25 09:45] amrfarid140 commented on #40
Thanks for using this @paurakhsharma !

This package uses Firebase APIs only and the only way to sign out is to call `FirebaseAuth.instance.signOut()`. When Azure AD is requested, we used `OAuthProvider` from Firebase to represent it and it has no sign out or logout method exposed.

As the stackoverflow link you included says, logging out from the browser you would need to clear browser cookies wh

[2021-01-26 04:05] paurakhsharma commented on #40
Understood, thanks for the quick response 🙂

[2021-01-26 04:05] #40 closed

[2021-02-11 20:44] rogueturnip opened #41 "Detect New User"
I am trying to get an apple sign in set up with this module and I'm wondering if there is a way to detect if the user is new in the firebase_auth side.  Because the return is a User type I don't see anything about firebase inside the returned data.

[2021-02-11 20:45] rogueturnip commented on #14
I'm curious on this about seeing the providerData.  The return type is a "User" and I don't see providerData in the data set that is returned.

[2021-02-12 16:28] rogueturnip commented on #41
There might be an other way to do this by specifying a create vs login only option in the call.
1. Create - if the user exists already error back saying user exists
2. Create - if the user doesn't exist log in
3. Login - if user doesn't exist error back asking to create user
4. Login - if user exists log them in
Is this flow possible today?

[2021-02-16 11:25] benoitskipr opened #42 "Android: chrome custom tab gets closed when task switching"
Hi, any idea how to avoid the custom tab that opens on android from killing itself when switching to another app ? cause in my login flow we need to input a 2FA code, so people would switch to their 2FA app to get the code, resulting atm with the login window to disappear and having to restart the login flow from scratch
thanks for the lib

[2021-02-16 11:31] benoitskipr commented on #42
repro : start oauth flow, when the 'webview' opens, press the android app task switcher button, you'll see the oauth window killing itself

[2021-02-16 11:59] benoitskipr commented on #42
<img width="422" alt="Android_Emulator_-_Pixel_4_API_30_2_5554" src="https://user-images.githubusercontent.com/52695909/108060115-c20c0c80-7056-11eb-8104-d4697aeff9bd.png">
see, if I'm switching to an other app now, I'm losing the whole login session

[2021-02-16 12:31] kostasoft commented on #38
[code]

[2021-02-16 21:53] benoitskipr commented on #42
reproduced with the example app, on emulator and device

[2021-02-17 09:58] benoitskipr commented on #42
actually, probably related : this library sample did not run out of the box, it was missing the custom chrome tabs library, which I've added to build.gradle : `implementation "androidx.browser:browser:1.3.0"`

[code]

[2021-02-18 07:01] benoitskipr commented on #42
while, doing the same exercice in a fully native environment opens the page in ... Chrome (not chrome tabs).
then I've tried the same native code wrapped in my flutter project : opens in chrome tabs.
maybe the flutter firebase libraries are targeting different versions of the native libraries behind ? it's hard to debug, it's a mess with gradle

[2021-02-18 07:07] benoitskipr commented on #42
if the sample used to work without chrome tabs, @amrfarid140, can you remember the dates ? so I could try forcing the firebase libraries to the version they were back then, thanks

[2021-02-18 08:19] amrfarid140 commented on #42
Hey @benoitskipr. The custom tabs vs normal browser is not something that's configured by this plugin. It simply offloads the login process to Firebase native libraries and waits for a Firebase User.

I also don't remember if the sample ever opened a normal browser instead of chrome custom tabs. Doubt that it ever did which makes be puzzled by why you needed `androidx.browser`.

Thanks for the iss

[2021-02-18 08:24] amrfarid140 commented on #41
Thanks @rogueturnip !

You can use Firebase Auth in your project to check if the user exists before calling login in this plugin which should satisfy your needs. This plugin only serves one purpose which is assisting developers to integrate popular OAuth providers when using Firebase so I would like to keep checks, like user exists, to a minimum.

[2021-02-18 13:42] benoitskipr commented on #42
thanks, I know it is calling a public native firebase method, that somehow was not made available by firebase in their dart api, do you know why ? maybe because it's not working well from flutter projects ;)
but when called from a flutter project (with flutterfire dependencies) it is using a chrome tab... I've tried finding the code responsible for using the chrome tab in the native firebase code

[2021-02-18 15:06] rogueturnip commented on #41
Thanks!  I might must not be seeing it, how would I validate the user exists with firebase first?  Which method do I use to check for a user?  I thought I'd need to do the oauth grant first to get the token so I can get the email information to compare with.  What I'm missing is the oauth plugin seems to do the registration for me before I get the token back so I'm not sure where I can interrupt t

[2021-02-18 15:59] amrfarid140 commented on #41
Oh sorry!.. I misunderstood what you said earlier. Of course you can only check if it's new or old user after login.

There's [`User.metadata. creationTime`](https://github.com/FirebaseExtended/flutterfire/blob/1e8f48a1b2128a7e9ee730423dc647759dfa5bb2/packages/firebase_auth/firebase_auth_platform_interface/lib/src/user_metadata.dart#L17) which you can use to decide if it's a newly registered user

[2021-02-18 16:02] amrfarid140 commented on #42
Yeah it's a shame really. I have no idea why they opted-out of including it in FlutterFire. This plugin call [`startActivityForSignInWithProvider`](https://github.com/amrfarid140/firebase_auth_oauth/blob/main/firebase_auth_oauth/android/src/main/kotlin/me/amryousef/apple/auth/firebase_auth_oauth/FirebaseAuthOAuthPlugin.kt#L80) but unfortunately native FirebaseAuth is not open-source so we can't re

[2021-02-18 16:32] rogueturnip commented on #41
I looked at this as an option but if I want to prevent a signup this won't help with that.  The plugin always assumes that if the user doesn't exist it should be created.  What I'd like to do is have one page that is a login (collects no data) and a signin page that in addition to signing in with oauth will collect more data to pass to the database.

Hope that makes sense.

[2021-02-18 16:57] amrfarid140 commented on #41
Yeah all makes sense but unfortunately that's the default Firebase behaviour. When using OAuth provider, we don't have an option to check if it's a signup or a login natively on Firebase.

I still believe you can achieve what you want with `creationTime`. Basically whenever you get a `User`, check the creation date and determine if you need to collect this additional data or not.

[2021-02-18 17:25] rogueturnip commented on #41
I'll give this a try again.. Thanks!

[2021-02-24 01:12] tiagocavalli opened #43 "Problem with Link Existing User With Credentials"
I am using the linkExistingUserWithCredentials method to create the provider link with my logged in account.

**Scenario**
I log on with the google provider. I link with the microsoft provider using linkExistingUserWithCredentials.

**Result**
When I look at the console I have two users created from each provider.

**Expected**
Have only one user with both providers.

**Platform**
Android

**Code

[2021-02-25 03:08] treeder commented on #38
Is this in progress yet?

[2021-02-26 10:22] kostasoft commented on #26
Nothing worked for me!
I looked at a competing plugin, it has a new scheme added to the new Activity in the manifest:
[code]
Maybe for this plugin you need to specify some scheme, too?

[2021-02-26 11:12] kostasoft commented on #26
Now, if the authorization window opens in the mobile Firefox browser, the following error appears:
`Unable to process request due to missing initial state. This may happen if browser sessionStorage is inaccessible or accidentally cleared.`

[2021-03-02 13:39] treeder commented on #38
This can all be resolved by simply upgrading the following dependencies in the 3 pubspec.yaml's:

[code]

[2021-03-02 17:28] amrfarid140 commented on #38
Thanks @treeder, feel free to submit a PR if you can help.

[2021-03-02 18:54] mateusfccp commented on #43
I work directly with @tiagocavalli on the same company.

After some time looking at the possible causes, we pinpointed that the Android method implementation for `linkExistingUserWithCredentials` is using `FirebaseAuth.startActivityForSignInWithProvider`. This forces the intended account to be linked with a new Firebase account (with its own `uid`), so that when the `AuthCredential` is passed to `

[2021-03-02 19:06] amrfarid140 commented on #43
Awesome, thanks! Will have a look and ship a fix soon.

[2021-03-06 12:23] #41 closed

[2021-03-06 12:24] amrfarid140 commented on #26
I also came across this issue today when testing null safety branch. Still needs a bit of investigation, it's probably an issue on Firebase's side but maybe we could do a workaround before executing Firebase sign in.

[2021-03-06 12:25] amrfarid140 commented on #26
Has been added as a dependency in v1.0.0

[2021-03-06 12:31] amrfarid140 commented on #38
V1.0.0 has been released 🚀

[2021-03-06 12:31] #38 closed

[2021-03-06 13:36] #43 closed

[2021-03-07 03:19] treeder commented on #38
Thanks!

[2021-03-11 09:28] marawanmo opened #48 "Help on how to use microsoft login with firebase"
I got the packages, and i have my signup code;

`User user = await FirebaseAuthOAuth().openSignInFlow(
  "microsoft.com", ["email openid"], {'tenant': myid});`

It takes me to the microsoft site but when i submit it tells me that i have an invalid redirct URI (see here: https://postimg.cc/xXzvCvsz)

I have looked everywhere but i just cant find the answer for a flutter app (i dont know what im sup

[2021-03-11 20:35] amrfarid140 commented on #48
Checkout Firebase documentation. You can find it [here](https://firebase.google.com/docs/auth/android/microsoft-oauth).

Section Before you begin -> Point 4 -> B tells you how to setup the redirect uri.

[2021-03-11 20:35] #48 closed

[2021-03-12 10:43] marawanmo opened #49 "(question) Error when logging in with microsoft"
i have setup everything and i get redirected to my app,
this is my login function
`User user = await FirebaseAuthOAuth().openSignInFlow("microsoft.com",
        ["email openid"], {'tenant': 'myId'});`

now when i login i get this error (user is also not stored in firebase):
`
 D/EGL_emulation( 9631): eglMakeCurrent: 0xac365ee0: ver 2 0 (tinfo 0x90c4a230)
I/flutter ( 9631): PlatformException(Fireba

[2021-03-15 09:02] #49 closed

[2021-04-10 20:54] Jordan-Nelson opened #50 "error: no such module 'FirebaseAuth'"
Hello - I was looking at using this package as a replacement for [apple_sign_in](https://pub.dev/packages/apple_sign_in) since it is no longer being supported.

I was able to get this working on Android and Web without too much trouble, but I am seeing this error when running it on iOS.

[code]

It seems like it cannot import FirebaseAuth. I do have the firebase_auth and firebase_core packages in

[2021-04-10 22:49] Jordan-Nelson commented on #50
I was able to reproduce this in the sample app by doing the following:
- clone the repo
- remove `use_frameworks!` and `use_modular_headers!` from `firebase_auth_oauth/example/ios/Podfile`
- pub get
- flutter run

Is there any way to get the plugin to work without adding `use_frameworks!` and `use_modular_headers!` to the apps Podfile?

[2021-04-26 13:50] Imperial-lord commented on #49
How did you resolve this @marawanmo? I am having the same issue.

[2021-04-26 15:02] marawanmo commented on #49
@Imperial-lord i made a new project in azure ad, making sure that i put in the right client secret etc. i also registered it as web in AD instead of a mobile app.

[2021-04-26 18:20] Imperial-lord commented on #49
So basically I need to register it as a web app, and things will work on my Android?

[2021-04-29 17:57] diepnghitinh commented on #14
Hi everyone, For solution detail in:
https://github.com/firebase/FirebaseUI-iOS/issues/815

appleIDCredential.fullName <== here code

replace with:
[code]

[2021-05-07 06:42] fremfi opened #51 "I'm not able to build android when I install this package"
[code]

any ideas what to do? thanks

[2021-05-10 12:17] monizj opened #52 "Trying to authenticate with Microsoft on iOS simulator with sample code"
I get Lost connection to device error and upon further inspection I am getting a custom URL error.

'NSInternalInconsistencyException', reason: 'Please register custom URL scheme 'app-1-221169002385-ios-46fbebeab00668adf41c30' in the app's Info.plist file

Offending code is below.
    User user = await FirebaseAuthOAuth().openSignInFlow(
                      "microsoft.com", ["user:email"], {"lan

[2021-05-13 01:52] snipermatu opened #54 "FirebaseAuthOAuth().openSignInFlow Error Azure AD"
hi, i'm trying to do the example and i get the following error, trying to authenticate in azure ad

<img width="800" alt="Captura de Pantalla 2021-05-12 a la(s) 21 51 11" src="https://user-images.githubusercontent.com/3129970/118066210-49be9a00-b36c-11eb-909e-31f2e02847d7.png">

this is my method
  await performLogin("microsoft.com", [
                            "email openid"

[2021-05-31 03:32] KCWebmaster commented on #25
Is it possible to use the Id Token from the firebase package to get an access token from Microsoft for the graph API?

[2021-05-31 08:30] KCWebmaster opened #55 "Native Access token found, please implement getting from flutter"
Hello,

Can you please make it possible to get the access token from the firebase library for Microsoft? After reviewing the Firebase Docs (https://firebase.google.com/docs/auth/android/microsoft-oauth) I saw that it is possible.

Surfing through your package I was able to add a couple lines that output the correct access token.

In FirebaseAuthOAuthPlugin.kt I added .addOnSuccessListener  and got

[2021-05-31 09:19] amrfarid140 commented on #55
Thanks for the feature request. It definitely sounds useful for other people as well. We could expose a login method that returns the credentials so consumers can fetch information like the access code. The downside would be consumers would be responsible for converting the credentials to a user. Open for other ideas as well.

[2021-05-31 13:33] imdarpn opened #56 "Invalid Client"
I have implemented this package and follow this steps for android side apple sign in https://firebase.google.com/docs/auth/android/apple

but I'm getting the error `invalid_client`, Its working iOS side perfectly,

[2021-06-01 01:24] KCWebmaster commented on #55
Is there a way you can keep your current method and also send back the access code? Like User.AccessCode? I noticed from the platform channel you are returning an empty string. What if you returned an actual object with the access code. Could you combine it with the User model in flutter?

[2021-06-04 19:36] chamikapeiris opened #57 "Could not find the firebase_core FlutterFire plugin, have you added it as a dependency in your pubspec?"
[code]

[code]
I ran,
**flutter clean** and **flutter pub get** several times, but cannot do a **flutter build appbundle**.

[2021-06-05 12:55] #57 closed

[2021-06-15 03:39] NightOwlCoder commented on #54
I get exactly the same error:

`await performLogin("microsoft.com", ["openid user email"], {"lang": "en"});`

[2021-07-05 01:40] fremfi opened #58 "Compatibility with Firebase auth 2.0.0"
Will this library be updated to be compatible with firebase auth 2.0.0?

[2021-07-06 07:05] nj9666 commented on #49
i got a crash every time in this line
User? user = await FirebaseAuthOAuth().openSignInFlow("microsoft.com", ["https://graph.microsoft.com/User.Read"], {'tenant': 'my_tenant'});

[2021-07-06 12:20] Andre-lbc commented on #58
Hi, I was also in need of this. I created a pull request: #59

[2021-07-09 18:51] clebemachado commented on #58
Any news?
:')

[2021-07-09 18:58] amrfarid140 commented on #58
Thanks for the PR @Andre-lbc ! .. I will merge it and make a release on hopefully by Monday.

[2021-07-11 15:09] amrfarid140 commented on #58
A [new version](https://github.com/amrfarid140/firebase_auth_oauth/releases/tag/v1.0.2) has been published

[2021-07-11 15:09] #58 closed

[2021-07-15 10:54] kumbhdesign opened #60 "logout"
logout is not working when click on logout still login user  in app when open url in broweser and also check after uninstall app also user logged in App

[2021-07-28 13:14] fabricio-godoi commented on #54
I was able to execute it providing the Firebase App in the FirebaseAuthOAuth

[code]

[2021-08-18 20:23] amrfarid140 commented on #55
This is added in [1.0.3 release](https://github.com/amrfarid140/firebase_auth_oauth/releases/tag/v1.0.3). Thanks to @fabricio-godoi for adding it.

[2021-08-18 20:23] #55 closed

[2021-09-07 21:40] YDA93 opened #63 "IOS Microsoft authentication"
Was working fine and now:

Error in the browser: **Unable to process request due to missing initial state. This may happen if browser sessionStorage is inaccessible or accidentally cleared.**

[2021-09-07 21:42] YDA93 opened #64 "IOS Microsoft 404 page"
For some reason after success authentication I'm being redirected to 404 page which is triggered upon unknown route?

This is working totally fine in Android only experiencing it in IOS.

[2021-09-09 03:13] wreppun commented on #54
So if you're running into this on iOS, this error can be a little misleading.  In `ios/Classes/FirebaseAuthOAuthViewController.swift`, there's a guard statement which obscures upstream firebase errors.

I moved the error handling to the top and got a more helpful error:

[code]

[2021-09-13 19:55] fabricio-godoi commented on #64
@YDA93 I think this should happen only if the redirect page was not properly configured in the Azure AD. Try to use a Web Page Application, setting up the redirect link that the Firebase Authentication setup provides.

[2021-09-16 13:40] amrfarid140 commented on #54
Thanks for pointing this out @wreppun . I will make sure to fix it in upcoming releases.

[2021-09-17 20:53] fabricio-godoi opened #65 "Android Cache"
Hi guys.

I'm having a little issue when a user resets its provider password in Android. It seems that the Android browser are storing the cache of the last successful request and the user is not able to login again in the system.

You guys know any workaround for this issue?

I'm check the project Crashlytics and got the following message for some Android:

[code]

I appreciate any kind of help.

[2021-09-18 03:36] YDA93 commented on #64
Actually I'm using Web page Application, redirect link is 100% correct and the issue persists.

I always get redirected to 404 page and logged in afterwards.

Any other possible solution?

Thanks for your efforts!

[2021-09-21 09:22] douglashetherington commented on #63
Did you mange to resolve this?

[2021-09-21 11:01] YDA93 commented on #63
Unfortunately, couldn't resolve this 😔

[2021-09-21 11:12] douglashetherington commented on #63
Deleting and reinstalling the app seemed to fix it for me. So I wonder if clearing the webview cookies would also fix it. - a bit more in the field friendly!

[2021-09-21 13:40] YDA93 commented on #63
I had exactly the same error while ago when I integrated social login to Python backend and I resolved it by **not securing session cookie**.

I definitely have no clue how this can relate to flutter app.

[2021-09-21 21:06] mike-500 opened #66 "No such module 'CryptoKit'"
Hi Guys,

When building for iOS release I get the following error: No such module 'CryptoKit'.
[code]
<img width="1167" alt="Screenshot 2021-09-21 at 23 00 36" src="https://user-images.githubusercontent.com/69246756/134247224-bb14e23d-1851-4837-a777-5ebb02e93cf2.png">
This only happens for release builds after updating Xcode to version 13. Debug builds compile just fine.

I have already tried to i

[2021-09-23 20:11] mike-500 commented on #66
In case somebody else is struggling with that, I forked the repo and change the CryptoKit implementation to use CommonCrypto.
https://github.com/mike-500/firebase_auth_oauth

[2021-09-24 06:09] amrfarid140 commented on #66
The last update CommonCrypto received was 2013. I wouldn't recommend using it.

This project uses Apple's CryptoKit framework. This is a possible fix for Xcode https://forums.swift.org/t/conditionally-use-cryptokit/30138/13 .

[2021-09-24 06:09] #66 closed

[2021-09-24 06:13] amrfarid140 commented on #65
I've had this problem before. When you logout on Firebase you are only clearing the app's state not the browser.

One possible solution is to check if your provider offers a logout endpoint which you can call in your app during logout to invalidate the browser cookies.

[2021-09-24 10:56] rulila52 opened #67 "Plugin project :firebase_auth_oauth_web not found. Please update settings.gradle."
when i add this plugin to my project, i'm gettting this: Plugin project :firebase_auth_oauth_web not found. Please update settings.gradle.

[2021-09-24 11:35] mike-500 commented on #66
Adding `-weak_framework CryptoKit` as described in the thread doesn't help.
However, increasing the platform from iOS 10.0 to 11.4 in the podspec file resolves the issue. Not sure if that has any disadvantages.
https://github.com/amrfarid140/firebase_auth_oauth/blob/149eca5dc469cabcf1d503215adcb754c3856105/firebase_auth_oauth/ios/firebase_auth_oauth.podspec#L23

[2021-09-24 19:48] fabricio-godoi commented on #65
@amrfarid140 Thanks for your help! Although it may be tricky when the user credentials are expired, it surely helped me understand the logout process in a new way.

As you mentioned, the user data is attached with the provider session, so I managed to get it working with the provider logout solution.

For anyone with the same problem as I was with the Microsoft provider, check the following link f

[2021-09-24 20:38] fabricio-godoi commented on #64
@YDA93 If the application is working properly in the Android platform, please check the Firebase documentation for the setup of the OAuth for Microsoft application again.

See these links;
https://firebase.google.com/docs/auth/ios/microsoft-oauth
https://firebase.flutter.dev/docs/auth/overview

Check if you add the correct URL Type in the XCode project. This URL will be the trigger to finish the l

[2021-09-24 21:49] YDA93 commented on #64
**Unfortunately FlutterFire has no documentation for Microsoft.**

I went through your link and made sure to follow along carefully.

I downloaded this package only for Microsoft authentication since other packages either not cross platform or not working.

I have the correct URL in Xcode and Azure directory and I already implemented Google, Apple, Facebook, Twitter providers which all integrates

[2021-09-24 21:59] fabricio-godoi commented on #64
Just to test it out, you have the latest firebase_auth_oauth configured?

If so, try this login method instead

[code]

You can check if the credentials are being returned in the var "oauth". In tried out in this way in my application, and it is working.

[2021-09-24 22:25] YDA93 commented on #64
I am using **firebase_auth_oauth: ^1.0.3**

I even tried to not run any method except printing the user and yet I get the user after I pop 404 page!

I see firebase analytics error which I don't know if it relates to this issue:

`
[Firebase/Analytics][I-ACS023001] Deep Link does not contain valid required params. URL params: { "deep_link_id" = Long url ..
}
`

[2021-09-24 22:27] fabricio-godoi commented on #63
I got this error in the Firefox browser only. Never managed to get it working with Firefox. It seems to be an issue with the way Firebase/Microsoft handle with logged-in users. It uses the browser storage system to proceed between steps.

For Flutter App I think that there is nothing we could do. These issues need to be addressed by the companies itself. Although, if someone finds a solution, it w

[2021-09-24 22:30] fabricio-godoi commented on #60
As mentioned by @amrfarid140 in this issue https://github.com/amrfarid140/firebase_auth_oauth/issues/65 the session is stored in the browser itself. So to clean the session you need to get your provider logout solution.

If you only want to logout from firebase, you can always use `FirebaseAuth.instance.signOut();`, but keep in mind that if some other user access the application, the last provider

[2021-09-24 22:32] fabricio-godoi commented on #52
Check this link to know how to configure the URL for iOS.

https://firebase.google.com/docs/auth/ios/microsoft-oauth

[2021-09-24 22:38] YDA93 commented on #64
**Ok finally I found the bug with temporary fix.**

If I remove **onUnknownRoute** from material app this will work absolutely fine however this will remove important Deeplink feature.

To reproduce the error try to login with onUnknownRoute implemented in your Material app.

[2021-09-24 22:38] fabricio-godoi commented on #42
Hey guys, you find some alternative to bypass this issue?

I'm starting to lose hope that the Firebase will solve this issue so soon. :disappointed:

[2021-09-24 22:48] fabricio-godoi commented on #64
It is very odd this behavior only happens in iOS. I'll try out this configuration and check if I can replicate the issue.

But just to be sure, you configured the redirect URL in the Azure with the one provided by the Firebase, right?

![image](https://user-images.githubusercontent.com/7767910/134746906-15777370-07a7-4e8f-991f-25f4d25a75c8.png)

I would suggest trying to update any Firebase lib th

[2021-09-24 23:00] YDA93 commented on #64
Yes 100% copied the url from firebase to and pasted to azure directory.

![Screen Shot 2021-09-25 at 1 56 44 AM](https://user-images.githubusercontent.com/70075736/134747670-70f15f16-164a-49a9-ad4d-0b8c4b450222.png)

Now I can login successfully without any problem with the following workaround:

[code]

[2021-09-24 23:50] rulila52 opened #68 "Failed to generate/retrieve public encryption key for Generic IDP flow"
When i trying to use this on android emulator, all ok. When i trying to call this on real device, i'm getting this:

[code]

i'm only trying to sign in with microsoft.com

[2021-09-25 08:06] amrfarid140 commented on #65
No worries, happy it worked out 😄

[2021-09-25 08:06] #65 closed

[2021-09-25 08:06] #60 closed

[2021-09-25 08:08] amrfarid140 commented on #68
It looks like something in your app and Firebas is not configured right.

Maybe include your repo so someone can check it out and help.

[2021-09-25 08:08] #68 closed

[2021-09-25 08:08] #67 closed

[2021-09-25 11:15] aqibaja commented on #66
same problem on release

[2021-09-25 11:25] YDA93 commented on #64
Were you able to replicate the error?

[2021-09-25 15:01] rulila52 commented on #68
i see all docs for your plugin, there a no some additional actions i must done to works perfect. And auth on emulator works good

[2021-09-25 15:08] rulila52 commented on #68
that files i shiould include?

[2021-09-25 16:41] rulila52 commented on #68
solved by rename package, delete and create new app in firebase console

[2021-09-25 19:54] fabricio-godoi commented on #64
@YDA93 I tried in Android and iOS this code you shared above and both does not call the onUnknownRoute. I don't know if it is because I'm using the [Flutter Modular](https://pub.dev/packages/flutter_modular) as a route management, but I was not able to replicate on my project. My last suggestion is to update the GoogleService-Info.plist in your project. It could be that the REVERSED_CLIENT_ID in y

[2021-09-26 04:31] YDA93 commented on #64
I have deleted the old GoogleService-Info.plist and re-downloaded it from Firebase.

The error persists. but is totally fine with me as long as I can handle it.

Thanks!

[2021-09-26 16:32] fabricio-godoi commented on #64
@YDA93 Sorry not being able to help you more. If a find something else, I'll inform you.

Best regards!

[2021-09-28 15:10] fabricio-godoi commented on #68
I'm having the same issue for some users in an inconsistent way. It works perfectly for some users, but some cases appear to be returning this error. It looks like something linked with the Android or phone specs.

I have some users that could perform the login without any problem, but at some unknown time, the user is given this message.

If someone has some idea what to do without deleting the F

[2021-10-02 08:42] nori-flutter opened #70 "No such module 'CryptKit' build error in FirebaseAuthOAuthPlugin+iOS13.swift by Xcode 13"
Everything was okay to build with Xcode 12.5.1; however, Flutter iOS app build start failing by using Xcode 13.

Error info:
No such module 'CryptKit'

Error code:
in FirebaseAuthOAuthPlugin+iOS13.swift
import CryptoKit

firebase_auth_oauth: 1.0.3

Flutter version: 2.5.1

iOS app build target: Any iOS Device (arm64, armv7)

[2021-10-02 08:46] amrfarid140 commented on #70
This is fixed by #69 . I will push a release to pub.dev ASAP.

[2021-10-04 16:04] fabricio-godoi commented on #63
Hey guys, if you're still having this issue, please check it out the issue I opened in the Firebase Android SDK:
https://github.com/firebase/firebase-android-sdk/issues/3013

Please, give the issue a like to help Google team to see that this issue should be fixed as soon as possible.

Also, I found some workaround that should help prevent some login issues:
https://github.com/firebase/firebase-and

[2021-10-07 05:39] amrfarid140 commented on #70
Fixed in v1.1.0

[2021-10-07 05:39] #70 closed

[2021-10-20 19:01] darkh commented on #51
open your android project build.gradle and update your com.android.tools.build:gradle to classpath 'com.android.tools.build:gradle:4.0.1' or higher

this will solve the problem

[2021-11-04 17:01] surveshoeb commented on #51
@darkh didn't work

[2021-11-11 13:17] Joseph-Nathan opened #73 "[question] is that work with huawei ID ?"
is that work with huawei ID ?

[2021-11-11 14:05] amrfarid140 commented on #73
Nope. Huawei isn't supported by firebase.

[2021-11-11 14:05] #73 closed

[2021-11-17 08:59] Paul-cbt commented on #67
same issue

[2021-11-17 10:08] Paul-cbt commented on #67
How to fix: change settings.gradle to:
[code]

[2021-11-17 14:34] rulila52 commented on #67
my settings.gradle is quite different from yours. can you show what needs to be replaced and with what?

[2021-11-23 17:16] prggTheProgrammer opened #74 "Microsoft log in android: FirebaseAuthError, An internal error has occurred. [ INVALID_APP_ID ]"
I am trying to intergrate microsoft log in in to my flutter project. It already works on web and ios but it gives FirebaseAuthError, An internal error has occurred. [ INVALID_APP_ID ] when I try it on android.

## What I have done:
- Created a new app registration in microsft azure portal
- added a secret
- added the redirect url for android with the hash converted from running gradlew singinrepor

[2021-11-23 17:26] prggTheProgrammer commented on #74
I discovered that the sample project works and I used that to make my original project work by comparing the diffrences of the sample and my real project. And I came to the conclusion that I didn't need to change any files. So I checked to see if the files being ignored by .gitignore were very diffrent and I did not find anything.
So I don't know what this error means and what the exact fix is, bu

[2021-11-24 19:04] rajada1 commented on #54
did you manage to solve the problem?

[2022-01-13 15:34] bw-flagship commented on #30
I have the same problem with Microsoft authentication. A fix would be highly appreciated since it is a complete showstopper (customer does not allow removing key restrictions).
Sadly, I do not have the skills to help here myself, but I would be willing to pay a small bounty if someone solves it.

[2022-01-27 23:44] Tpow99 commented on #54
Old thread and shot in the dark, but did anybody get this fixed?

[2022-01-28 00:58] Tpow99 commented on #54
2 notes, First the firebase documentation asks you to use the desktop and applications version, choose web. Second, there are two values for every secret key. Use the value not the id. Issue should be good to close from there

[2022-02-07 19:18] sharpner opened #75 "Breaks with flutter 2.10 on android"
I read that this plugin is no longer actively maintained, but for any one having the same problem, it no longer builds with flutter 2.10 for android.

Steps to reproduce:
1. Create a vanilla project with `flutter create`
2. Add the dependency `flutter pub add firebase_auth_oauth`

And `flutter build apk --debug` will result in
[code]

I have yet to find a way to fix this, any hints would be much a

[2022-02-07 19:25] mike-500 commented on #75
I was able to fix it following the instructions here: https://github.com/flutter/flutter/issues/97729

[2022-02-08 07:54] sharpner commented on #75
Thanks so much for your comment, it worked for me as well!

[2022-02-08 07:54] #75 closed

[2022-02-14 21:51] Cartaxo commented on #30
Same problem here. Any fix?

[2022-02-15 08:31] amrfarid140 commented on #30
Yup I suspected it's a firebase_auth issue rather than an issue in the plugin. Looks like updating firebase_auth fixes it according to @Cartaxo .

[2022-02-15 08:31] #30 closed

[2022-02-16 17:26] Cartaxo commented on #30
After update to 21.0.1 now opens the browser but the error continue....

Any solutions?

[2022-02-18 19:38] Hesamedin commented on #6
Any update on this request?

This is the error I see:
[code]

[2022-02-19 00:55] kolbasan opened #76 "Presence of android/ directory breaks Android builds on Flutter 2.10 (in firebase_auth_oauth_web)"
Describe the bug
See https://github.com/flutter/flutter/issues/97729

To Reproduce
Steps to reproduce the behavior:

1. Make a new Flutter application project with 2.10
2. Add firebase_auth_oauth to it
3. Try to build for Android

**Expected behavior**
Successful build.

While this is a bug in Flutter, and will be fixed there, you can fix this in the plugin simply by removing the unused android/ f

[2022-03-09 02:13] paulw11 commented on #63
@fabricio-godoi I am commenting here because the issue on the Android firebase is locked, but the problem with Firefox can be resolved by changing a Firefox setting - https://support.mozilla.org/en-US/kb/set-firefox-android-open-links-native-apps.

I found your name because I am also getting the Failed to Generate Public key error.

[2022-03-22 09:58] bw-flagship commented on #74
@prggTheProgrammer While this is not in the scope if this repo, you can just put a keystore file in the source code and reference it from your build.gradle-file.

[2022-03-22 15:05] #76 closed

[2022-03-22 20:09] bw-flagship commented on #76
@amrfarid140 I see you released the firebase_auth_oauth package, but not the firebase_auth_oauth_web package (just making sure you didn't miss that out :P)

[2022-03-22 20:21] amrfarid140 commented on #76
[v1.2.0](https://github.com/amrfarid140/firebase_auth_oauth/releases/tag/v1.2.0) released with the fix. Thanks to @bw-flagship 🙌🏽

FYI, the minimum Flutter version had to be increased to `1.20.0` so please reach out if that change impacts you.

[2022-03-23 08:13] #74 closed

[2022-03-29 04:40] ahodroj77 opened #78 "No Refresh token returned"
Any plans on returning the refresh token provided by YAHOO?
Only Id and access token are returned.

Thanks

[2022-03-30 13:55] bw-flagship commented on #42
I went through the firebase docs for Microsoft auth with native android. There is says:

`Authenticate with Firebase using the OAuth provider object. Note that unlike other FirebaseAuth operations, this will take control of your UI by popping up a Custom Chrome Tab.
`

Source:
https://firebase.google.com/docs/auth/android/microsoft-oauth
Seems like this is not a flutter thing, but intended by fire

[2022-03-30 14:30] bw-flagship commented on #30
This is the Firebase issue:
https://github.com/firebase/firebase-android-sdk/issues/1385

The Firebase team clearly says that this problem exists and there is no workaround except for not restricting the key...
According to them, its not a big problem, Firebase team member says:

`API Key protection can be a bit tricky. It is mostly intended as a mechanism that allows you to protect yourself from

[2022-03-30 16:55] bw-flagship commented on #42
I tried to solve this today. I failed, but I think I was very close and gained some interesting insights.
I created a new flutter plugin from scratch (call it "Plugin A" in this text) and copied some code of firebase_auth_oauth to perform a Microsoft login. Without doing anything, it worked!!! (worked = the chrome tab did not close itself).
Then I copied the code from Plugin A over to the firebase

[2022-03-30 18:09] amrfarid140 commented on #78
You will have to ask Firebase team for that. This plugin is just a thin wrapper on Firebase SDK.

[2022-03-30 18:09] #78 closed

[2022-03-30 18:12] amrfarid140 commented on #42
Thanks @bw-flagship for looking into it. I have an idea on what could be causing it. What was the activity launch mode used for the "Plugin A" example?

The example app [here](https://github.com/amrfarid140/firebase_auth_oauth/blob/main/firebase_auth_oauth/example/android/app/src/main/AndroidManifest.xml#L17) uses `singleTop`.

[2022-03-30 18:18] bw-flagship commented on #42
@amrfarid140 The Plugin A example used singleTop as well

[2022-04-20 22:43] e-simpson opened #79 "The apple.com sign in UI jitters up and down the page when either cancelling or completing the apple sign in overlay"
Occurs on physical iOS 15 device built. Can't seem to get the issue to occur on the simulator.
It seems like some sort of page transition is occurring.

[2022-06-30 17:19] dndeus opened #80 "Apple sign in on Android"
I think the documentation is missing something.

I tried the example repo you have here and the sign with apple on android worked. When I installed it on a fresh blank project it prints out this error:

`There was an error while trying to get your package certificate hash., com.google.firebase.auth.FirebaseAuthException: There was an error while trying to get your package certificate hash`

I have

[2022-06-30 18:28] dndeus commented on #80
Ok I  managed to pass this by generating new sha1 and sha256 keys, Not it redirects to apple to login.

But now I get this error on apple's site

`Invalid client id or web redirect url.`

Where should i put the clientId and redirectUri in the code?

Also should I use the redirectUri i got from firebase? my own?

When I tried the [sign_in_with_apple](https://pub.dev/packages/sign_in_with_apple) plu

[2022-06-30 20:25] dndeus commented on #56
Did you find the solution on this? I don't understand why no-one respond. it's a valid question...

[2022-08-11 05:23] gerryau opened #82 "openSignInFlow not working on build to web with firestore emulator suite"
When trying to build to web and try to launch the openSignInFlow I get the following error. When building to android, it works fine.

Update: I am able to get this working if I insert the js code into `web/index.html`, but then I am unable to connect it to the firebase emulator suite as I normally have when testing on android.

[code]

[2022-08-12 04:42] gerryau commented on #82
I realise this is not practical to implement for web easily so I just setup an if condition to check if the device is using web and ran the native oAuth sign in flow from the firebaseauth package.

[2022-08-12 04:42] #82 closed

[2022-08-29 11:06] prggTheProgrammer opened #83 "TypeError: Cannot read properties of undefined (reading 'auth')"
Since the new update to flutterfire when I use the signInOAuth method, this error occurs:

**Error**:
`Performing hot restart...
Waiting for connection from debug service on Chrome...
Restarted application in 1,213ms.
TypeError: Cannot read properties of undefined (reading 'auth')
    at OAuthProvider.new (http://localhost:60984/packages/firebase/src/storage.dart.lib.js:2241:76)
    at firebase_au

[2022-09-04 09:46] praskk9 commented on #83
i faced the same issue.

For now, saw that flutterfire announced microsoft login support recently.

https://github.com/firebase/flutterfire/blob/master/packages/firebase_auth/firebase_auth/example/lib/auth.dart

so using that

[2022-09-27 11:51] zsolt-vincze opened #84 "Deprecated dependency (org.jetbrains.kotlin:kotlin-gradle-plugin:1.4.0)"
* What went wrong:
The Android Gradle plugin supports only Kotlin Gradle plugin version 1.5.20 and higher.
The following dependencies do not satisfy the required version:
project ':firebase_auth_oauth' -> org.jetbrains.kotlin:kotlin-gradle-plugin:1.4.0

[2022-10-03 13:02] prggTheProgrammer commented on #83
The problem is that this plugin uses the firebase plugin (https://pub.dev/packages/firebase), which is depricated. The problem is that above firebase_core version 1.19.1 it starts to use version 9.6.0 instead of 8.10.1 of the underlying JavaScript library. So if you use firebase_core version 1.19.1 it works fine.

Note: I am not sure I have the versions correctly.

[2022-11-07 21:51] robindijkhof opened #86 "Allow firebase_core 2.0.0"
Because firebase_auth_oauth 1.2.0 depends on firebase_core ^1.4.0 and no versions of firebase_auth_oauth match >1.2.0 <2.0.0

[2022-11-10 06:23] amrfarid140 commented on #86
Please check the latest release v1.2.2

[2022-11-10 06:23] #86 closed

[2022-11-10 06:25] amrfarid140 commented on #83
Should be working with the latest v1.2.2 version. Have a look and let me know if you still face issues.

[2022-11-10 06:25] #83 closed

[2022-11-10 08:26] bw-flagship opened #88 "Duplicated changelog"
The changelog for 1.2.1 and 1.2.2 is redundant. I think the changes happened in 1.2.2.
I would have submitted a PR, but I'm not sure what to write for 1.2.1...

![2022-11-10_09-25-20](https://user-images.githubusercontent.com/89379862/201039204-279c7345-2da9-472a-ab7b-7c5df5554801.png)

[2022-11-17 15:59] Pv-br opened #89 "Force account select"
Is there a way to force the user to select with account to login, when there are 2 or more that already signed on that phone.

When a user logout, I think the browsers cache auto login with the credentials when users login again.

Thanks!

[2022-11-18 09:49] bw-flagship commented on #89
This is nothing related to this plugin. You should check out the documentation of the out provider you are using. Normally you can pass specific prompts for such behaviours.